@import url('https://fonts.cdnfonts.com/css/montserrat');
/*General Content*/

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  color: #1e1e1e;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.main-div {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;

  .one {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee !important;
  }

  .two {
    background-color: #ffffff;
    padding: 25px 0px;
  }

  #main-content {
    padding: 50px 15px 0px;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }



  #temp {
    font-size: 10rem;
    padding: .5rem;
    font-weight: bold;
  }


  #date-div {
    margin: auto;
  }

  #description {
    font-size: 1rem;
    padding: 10px 0px 40px;
  }

  #card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100%;
    padding: 10px;
    margin: auto;
  }

  #days {
    display: flex;
    padding: 3px;
  }

  #temp-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    border: none;
    margin: 0;
    grid-column: span 2;
  }

  #high {
    padding: 5px;
  }

  #low {
    padding: 5px;
    color: #b8b8b8;
  }

  #card-content {
    margin: auto;
  }


  #label,
  #label-content {
    padding: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #label-content {
    font-weight: 700;
  }

}


@media (max-width: 375px) {
  .main-div {
    width: 100%;

    .one {
      padding: 20px;
    }

    #temp {
      font-size: 4.5rem;
      padding: .5rem;
      font-weight: 600;
    }


    #days {
      display: flex;
      padding: 15px 0px;
      margin-bottom: 15px;
    }


    #label {
      font-size: .75rem;
    }

    #label-content {
      padding: 2px;
      font-weight: bold;
      font-size: .75rem;
    }


    #description {
      font-size: .8rem;
      padding: 10px 0px 5px;
    }
  }

  #city {
    font-size: .9rem;
  }

  #date {
    font-size: .85rem;
  }

  .two {
    grid-column: span 2;
    grid-row: span 1;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }

  #temp-cards {
    grid-column: span 2;
  }

  #card-section {
    gap: 1rem;
  }
}

@media (min-width: 376px) and (max-width: 475px) {
  .main-div {
    width: 100vw;

    .one {
      padding: 20px;
    }

    #temp {
      font-size: 5.5rem;
      padding: .5rem;
      font-weight: 600;
    }


    #days {
      display: flex;
      padding: 15px 0px;
      margin-bottom: 15px;
    }


    #label {
      font-size: .85rem;
    }

    #label-content {
      padding: 2px;
      font-weight: bold;
      font-size: .85rem;
    }


    #description {
      font-size: .9rem;
      padding: 10px 0px 5px;
    }
  }

  #city {
    font-size: 1rem;
  }

  #date {
    font-size: .95rem;
  }

  .two {
    grid-column: span 2;
    grid-row: span 1;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }

  #temp-cards {
    grid-column: span 2;
  }

  #card-section {
    gap: 1rem
  }
}

@media (min-width: 476px) and (max-width: 991px) {
  .main-div {
    width: 100vw;

    .one {
      padding: 20px;
    }

    #temp {
      font-size: 7.5rem;
      padding: .5rem;
      font-weight: 600;
    }


    #days {
      display: flex;
      padding: 15px 40px;
      margin-bottom: 15px;
    }


    #label {
      font-size: 1rem;
    }

    #label-content {
      padding: 2px;
      font-weight: bold;
      font-size: 1rem;
    }


    #description {
      font-size: 1rem;
      padding: 10px 0px 5px;
    }
  }

  #city {
    font-size: 1.3rem;
  }

  #date {
    font-size: 1.1rem;
  }

  .two {
    grid-column: span 2;
    grid-row: span 1;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }

  #temp-cards {
    grid-column: span 2;
  }

  #card-section {
    gap: 1rem
  }
}

@media (min-width: 992px) and (max-width: 1049px) {
  .main-div {
    width: 100vw;

    .one {
      padding: 20px;
    }

    #temp {
      font-size: 10rem;
      padding: .5rem;
      font-weight: 600;
    }


    #days {
      display: flex;
      padding: 15px 60px;
      margin-bottom: 15px;
    }


    #label {
      font-size: 1.2rem;
    }

    #label-content {
      padding: 2px;
      font-weight: bold;
      font-size: 1.2rem;
    }


    #description {
      font-size: 1.2rem;
      padding: 10px 0px 5px;
    }
  }

  #city {
    font-size: 1.5rem;
  }

  #date {
    font-size: 1.3rem;
  }

  .two {
    grid-column: span 2;
    grid-row: span 1;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }

  #temp-cards {
    grid-column: span 2;
  }

  #card-section {
    gap: 1rem
  }
}