@import url('https://fonts.cdnfonts.com/css/montserrat');
/*General Content*/

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  color: #1e1e1e;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.main-div {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: #eeeeee;
  width: 100%;

  .one {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .two {
    background-color: #ffffff;
  }

  #main-content {
    padding: 50px 15px 0px;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }



  #temp {
    font-size: 10rem;
    padding: .5rem;
    font-weight: bold;
  }


  #date-div {
    margin: auto;
  }

  #description {
    font-size: 1.1rem;
    padding: 10px 0px 40px;
  }

  #card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    height: 100%;
    padding: 10px;
    margin: auto;
  }

  #days {
    display: flex;
    padding: 3px;
  }

  #temp-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    border: none;
    margin: 0;
    grid-column: span 2;
  }

  #high {
    padding: 5px;
  }

  #low {
    padding: 5px;
    color: #b8b8b8;
  }

  #card-content {
    margin: auto;
  }


  #label {
    padding: 2px;
  }

  #label-content {
    padding: 2px;
    font-weight: bold;
  }

}


@media (max-width: 1049px) {
  .main-div {
    background-color: #ffffff;
  }

  .two {
    grid-column: span 2;
    grid-row: span 1;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }

  #temp-cards {
    grid-column: span 1;
  }
}

@media (max-width: 767px) {
  .main-div {
    width: 100vw;
  }


  .two {
    grid-column: span 2;
    grid-row: span 1;
  }

  #city-div {
    margin: auto 0px auto 0px;
    grid-column: span 2;
  }

  #temp-cards {
    grid-column: span 2;
  }
}